@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Welcome";
}
  <div class="container">
        <div class="main-page main-page-pd d-flex align-items-center justify-content-center vh-100">
            <div class="d-block text-center">
                <img src="assets/img/main.png" alt="img">
            </div>
            <div class="btn-wrap">
                <a class="btn btn-base w-100" asp-action="Onboard">Get Started</a>
            </div>
        </div>
    </div>
