@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
   <div class="container">
        <div class="align-items-center d-flex justify-content-center">
            <div class="successful-msg-page text-center pt-4">
                <img src="~/assets/img/location.png" alt="img">
                <h4>Let’s Start</h4>
                <p>Foodka uses your location to show the restaurants near you!</p>
                <a class="btn btn-base w-100" asp-action="Main">Use Current Location</a>    
                <span class="another-way-link"> <a asp-action="new-location">Select another location</a></span>           
            </div>           
        </div>
    </div>

