@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
    
    <div class="container">
        <div class="align-items-center d-flex justify-content-center vh-100">
            <div class="successful-msg-page  btn-bottom-fixed text-center">
                <img src="~/assets/img/icon/check.png" alt="img">
                <h3>You have successfully reset your password</h3>
                <p>Congratulations, You have successfully reset your password. Use your new password when logging in</p>    
                <div class="btn-fixed-wrap">
                    <a class="btn btn-base w-100" asp-action="Location">Next</a> 
                </div>          
            </div>           
        </div>
    </div>
